body {font-family: Garamond, serif;}
body{background-color: #005f73;}
h1, h2 {color: #ee9b00}
h3 {color: #94d2bd}
h2 a {color: #0a9396}
.evenrow {background-color: #94d2bd}
.h1 {font-size: 2 em;}
.h2 {font-size: 1 em;}
nav {background-color: #e9d8a6;}
nav a {color: #bb3e03}
nav a:hover {background-color: #0a9396}
nav {padding: 10px}
nav {margin-bottom: 30px}
.headerimage {max-width: 100%;}
@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
    }
    span {
        display: none;
    }
}