body {font-family: Garamond, serif;}
h1, h2 {color: lightsalmon}
.evenrow {background-color: lightblue}
.h1 {font-size: 2 em;}
.h2 {font-size: 1 em;}
nav {background-color: #e9d8a6;}
nav a {color: #bb3e03}
nav a:hover {background-color: #0a9396}
nav {padding: 10px}
nav {margin-bottom: 30px}