nav {background-color: navy}
nav a {color: orange}
nav a:hover {background-color: #0a9396}
nav {padding: 10px}
nav {margin-bottom: 30px}
.headerimage {
    background-image: url("../project6/Home Page Images/SVOSU Banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 3 / 1;
    background-color: navy;
    /* border: 5px solid orange; */
    border-radius: 12px;
    }

.headshot.flex.box {
    margin-top: 50px;
    margin-bottom: 75px;
}
@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
    }
    span {
        display: none;
    }
    .headerimage {
        background-image: url("../project6/Home Page Images/SVOSU Logo Revised.png");
        background-size: contain;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 3 / 1;
        background-color: navy;
        border: 5px solid orange;
        border-radius: 12px;
    }
    .aboutus {
        background-size: cover;
    }
}