nav {background-color: navy}
nav a {color: orange}
nav a:hover {background-color: #0a9396}
nav {padding: 10px}
nav {margin-bottom: 30px}
.headerimage {
    background-image: url("../project6/Home Page Images/SVOSU Banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
    }
@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
    }
    span {
        display: none;
    }
    .headerimage {
        background-image: url("../project6/Home Page Images/SVOSU Logo Revised.png");
        background-size: contain;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
    }
    .aboutus {
        background-size: cover;
    }
}