nav {background-color: navy}
nav a {color: orange}
nav a:hover {background-color: #0a9396}
nav {padding: 10px}
nav {margin-bottom: 30px}
.headerimage {
    background-image: url("../projectfinal/Home%20Page%20Images/SVOSU%20Banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 3 / 1;
    background-color: navy;
    /* border: 5px solid orange; */
    border-radius: 12px;
    box-sizing: border-box;
    }

.content {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
  margin-top: 50px;
}

.headshots {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;

    }
.headshots > div {
    min-width: 0; 
    width: 100%;
    max-width: 273px;
    text-align: center;
    }
.headshots img {
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    height: auto;
    display: block;
    }
.headshots img:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}
body {
    background-color: rgba(226, 121, 0, 0.74);
}
.headshots > :nth-child(1) { grid-column: 1/3; }
.headshots > :nth-child(2) { grid-column: 3/5; }
.headshots > :nth-child(3) { grid-column: 5/7; }

.headshots > :nth-child(4) { grid-column: 2/4; }
.headshots > :nth-child(5) { grid-column: 4/6; }


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
    }
    span {
        display: none;
    }
    .headerimage {
        background-image: url("../projectfinal/Home%20Page%20Images/SVOSU%20Logo%20Revised.png");
        background-size: contain;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 3 / 1;
        background-color: navy;
        border: 5px solid orange;
        border-radius: 12px;
    }
    .aboutus {
        background-size: cover;
    }
    /* .newsletter{

    } */
    html, body { overflow-x: hidden; }
}